div {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.4rem;
}

nav > section{
    /* background-color: blueviolet; */
    display: inline-block;
    width: 50px;
    /* text-align: center; */
}

nav{
    text-align: center;
    font-weight: bold;
}