img{
    margin: 20px;
    border: 10px solid rebeccapurple;
}

div > img {
    width: 600px;
}

section > img {
    width: 600px;
    height: 600px;
    object-fit: cover; 
}

nav > img {
    width: 600px;
    height: 800px;
    object-fit: contain;
}